/* CSS for the Daily Status Module on the DLC Intranet Homepage */

.blueday {
  src: url('/Content/images/blue-control.svg');
  align-content: center;
}

.redday {
    src: url('/Content/images/red-control.svg');
    align-content: center;
}

.yellowday {
    src: url('/Content/images/yellow-control.svg');
    align-content: center;
}
