@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@model sample_GridStack.Models.MyWorkspaceViewModel
@using Newtonsoft.Json
@*<link href="~/Content/tile-bookmark.css" rel="stylesheet" />*@
<link href="~/Content/myworkspace-grid.css" rel="stylesheet" />
<link href="~/Content/nprogress.css" rel="stylesheet" />
<link href="~/Content/tile-bookmark.css" rel="stylesheet" />
<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>
<style>
    .loading-progress ul {
        margin-left: 0px;
        margin-top: 0px;
        list-style: none;
    }

    .loading-progress li {
        float: left;
        width: 12px;
        height: 24px;
        background: #aeb5da;
        border: 1px solid #8490c6;
        box-sizing: border-box;
        margin-right: 8px;
        opacity: 0.2;
    }

        .loading-progress li:nth-child(1) {
            animation-name: anim;
            animation-duration: .9s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .loading-progress li:nth-child(2) {
            animation-name: anim;
            animation-duration: .9s;
            animation-delay: .3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        .loading-progress li:nth-child(3) {
            animation-name: anim;
            animation-duration: .9s;
            animation-delay: .6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    .child {
        position: absolute;
        top: 50%;
        left:30%;
        transform: translateY(-50%);
        /*height: 120px;  to be more intuitive */
        width: 50%; /* take the parent's width */
        align-content:center;
        text-align:center;
    }

    @@keyframes anim {
        from {
            opacity: 1;
            transform: scale(1.1);
        }

        to {
            opacity: 0.2;
            transform: scale(1);
        }
    }
</style>
<div class="myworkspace-wrap">
    <div class="row myworkspace-container-row">
        <div class="myworkspace-container centered col-xs-12">
            <h3>My Workspace</h3>
            <p>
                Welcome To Your Workspace. Here you will find interactive tools to help you organize your day to day activities.
                Please check back periodically to see new tools as they become available.
            </p>
        </div>
    </div>

    <div class="spacer-2x-bottom"></div>
    <div class="row">
        <div class="grid-myworkspace">
            <div class="spacer-2x-bottom"></div>
            <div data-bind="component: {name: 'my-workspace', params: $data}"></div>
            <div class="spacer-2x-bottom"></div>
        </div>
    </div>

</div>
@*<div data-bind="component: {name: 'dashboard-grid', params: $data}"></div>*@


<template id="gridstack-template">
    <div class="grid-stack" data-bind="foreach: {data: widgets, afterRender: AfterAddWidget}" data-gs-animate="yes" >
        <div class="grid-stack-item" data-bind="attr: {'data-gs-x': $data.x, 'data-gs-y': $data.y, 'data-gs-width': $data.width, 'data-gs-height': $data.height,'data-gs-auto-position':$data.auto_position}">
            <div class="grid-stack-item-content" data-bind="attr: {'id': 'tile-content_' + $data.tileId()}">
                <div>
                    @*<div id="tile-info" data-bind="text:$data.title">test</div>*@
                    <div  data-bind="attr: {'id': 'loading-progress_' + $data.tileId()}" class="loading-progress child" >
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div id="tile-info" data-bind="html:$data.data"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    console.log("loading MyWorkspace Page..");
   var modelJson = JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model)));
    jsonObj = JSON.parse(modelJson);
    console.log(JSON.stringify(jsonObj.TileCollection));
    _widgets = jsonObj.TileCollection;
    console.log(_widgets);
    var vm = new sample_GridStack.MyWorkSpaceScript.MyWorkSpaceController(_widgets);
    ko.applyBindings(vm);
</script>
