/*
    Temp Overrides ( Needed to adjust container sizing )
*/
@media (min-width: 768px) {
    .container {
        max-width: 1385px;
        width: 90%;
    }
}

body {
<<<<<<< HEAD
    background-color: #fff;
}

.myworkspace-wrap {
    background-color: #f0f0f0;
    margin-right: calc(-100vw / 2 + 100% / 2);
    margin-left: calc(-100vw / 2 + 100% / 2);
    padding-right: calc(100vw / 2 - 100% /2);
    padding-left: calc(100vw / 2 - 100% /2 );
    padding-bottom:35px;
}

=======
    background-color: #f0f0f0;
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c
}

.myworkspace-container-row {
    padding: 0 10px;
<<<<<<< HEAD
}

.myworkspace-container {
    padding: 20px;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
    background-color: #fff;
    border-top: #F38131 solid 2px;
    margin-bottom: 50px;
}

    .myworkspace-container h3 {
        color: #F38131;
        font-weight: 300;
        margin-top: 0;
        text-transform: none;
    }

    .myworkspace-container p {
        padding-left: 20px;
        color: #909090;
    }

@media (min-width: 768px) {
    .grid-myworkspace {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.grid-stack {
    width: 100%;
}

    .grid-stack > .grid-stack-item {
        padding: 0 20px;
    }

        .grid-stack > .grid-stack-item > .grid-stack-item-content {
            display: inline-block;
            background: #FFF;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            padding: 15px;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            position: relative;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: visible;
        }


.grid-stack-item-content .tile-title {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 12px;
    color: #00aeef;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
    cursor: se-resize;
    width: 20px;
    height: 20px;
    right: 30px;
    bottom: 0;
=======
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c
}

.myworkspace-container {
    padding: 20px;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
    background-color: #fff;
    border-top: #F38131 solid 2px;
    margin-bottom: 50px;
}

<<<<<<< HEAD
.bookmarkLink a {
    color: black;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 5px;
}

@media (max-width:415px) {
    .bookmarkLink a {
        font-size: 0.75em;
    }
}

.bookmarkLink {
    padding: 0px;
    position: relative;
    margin-top: 20px;
}

    .bookmarkLink:before {
        content: "\e044";
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #00aeef;
        top: -60px;
        background-color: #fff;
        border: #00aeef solid 2px;
        border-radius: 50%;
        padding: 12px 10px 10px;
        width: 50px;
        height: 50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
    }

    .bookmarkLink > ul {
        list-style: none; /* Remove HTML bullets */
        padding: 0;
        margin: 0;
=======
    .myworkspace-container h3 {
        color: #F38131;
        font-weight: 300;
        margin-top: 0;
        text-transform: none;
    }

    .myworkspace-container p {
        padding-left: 20px;
        color: #909090;
    }

.grid-myworkspace {
    margin-left: -20px;
    margin-right: -20px;
}

.grid-stack {
    width: 100%;
}

    .grid-stack > .grid-stack-item {
        padding: 0 30px;
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c
    }

        .grid-stack > .grid-stack-item > .grid-stack-item-content {
            display: inline-block;
            background: #FFF;
            border: 2px solid #FAFAFA;
            box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
            margin: 0 2px 15px;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            column-break-inside: avoid;
            padding: 15px;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            position: relative;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: initial;
        }


.grid-stack-item-content .tile-title {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 12px;
    color: #00aeef;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
    cursor: se-resize;
    width: 20px;
    height: 20px;
    right: 30px;
    bottom: 0;
}


.tile-popout-modal {
    position: absolute;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
    top: 25px;
    right: -75px;
}

    .tile-popout-modal a {
        display: block;
        padding: 5px 5px 5px 30px;
        position: relative;
    }

<<<<<<< HEAD
    .bookmarkLink > ul > li:not(:last-child) {
        margin-bottom: 5px;
    }

    .bookmarkLink > li:before {
        /*content: "•"; Insert content that looks like bullets */
        padding-right: 8px;
        /*color: blue;  Or a color you prefer */
    }
=======
        .tile-popout-modal a:hover {
            background-color: #fff300;
        }
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c

.tile-popout-modal {
    position: absolute;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
    top: 25px;
    right: -75px;
}

<<<<<<< HEAD
.bookmarkLinks-text {
    font-weight: bold;
    /* hack to indent all lines except first */
    padding-left: 0.5em;
    text-indent: -0.5em;
}

.tile-popout-modal {
    position: absolute;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.75);
    top: 25px;
    right: -75px;
}

=======
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c
    .tile-popout-modal a {
        display: block;
        padding: 5px 5px 5px 30px;
        position: relative;
    }

        .tile-popout-modal a:hover {
            background-color: #fff300;
<<<<<<< HEAD
        }
=======
        }
>>>>>>> fef7fe79752afe1d91c9b134e77fe55fc7ade08c
