<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-ui-bundle/jquery-ui.js"></script>
<link href="/dist/main.44299f37b3976c60187dc88449a09895.css" rel="stylesheet"><script type="text/javascript" src="/dist/runtime.3e1a1f242ce0ce94bc09.bundle.js"></script><script type="text/javascript" src="/dist/vendor.ecf1df5d491b173fbb80.bundle.js"></script><script type="text/javascript" src="/dist/app.e36590a425c178b56078.bundle.js"></script></head>
<body>
    
    <div >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
